{% extends "backend.html" %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Daftar Peserta</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Daftar Peserta <b>{{ current_user.unit_kerja }}</b></li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Jumlah Total Peserta : <b>{{ total_peserta }}</b></div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Peserta Hadir : <b>{{ total_peserta_hadir }}</b></div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Peserta Belum Hadir : <b>{{ total_peserta_belum_hadir }}</b></div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Peserta Sudah Vaksin : <b>{{ total_peserta_sudah_vaksin }}</b></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Daftar Peserta {{ current_user.unit_kerja }}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered js-tabel-daftar-peserta-unit" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nama</th>
                                <th>NIK</th>
                                <th>Alamat</th>
                                <th>No Telepon</th>
                                <th>Batch</th>
                                {#                                <th>Tanggal Vaksin</th>#}
                                <th>Kehadiran</th>
                                <th>Sudah Vaksin</th>
                                {#                                <th>Aksi</th>#}
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
